project:
  type: website

website:
  title: "My Academic Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: cv.qmd
        text: CV
      - href: papers.qmd
        text: Papers
      - href: blog.qmd
        text: Blog

format:
  html:
    theme: cosmo
    css: styles.css